<form action="{:url('')}" method="post" class="layui-form">
    <div class="layui-form-item">
        <label for="">名称</label>
        <div class="layui-input-inline">
            <input type="text" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="" class="layui-form-label"></label>
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-nomarl" type="submit" lay-submit lay-filter="mlFormSubmit">保存</button>
            <button class="layui-btn layui-btn-nomarl" type="button">返回</button>
        </div>
    </div>
</form>