<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form id="mlTableDataSearch" class="layui-form layui-form-pane">

                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="mlTableData">
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tableIns;
    var tableConfig = JSON.parse('{:json_encode($tableConfig,256)}');

    layui.use(['table', 'form', 'ml'], function () {
        table = layui.table;
        form = layui.form;
        var table = layui.table;
        var ml = layui.ml;
        ml.render(tableConfig)

    })
</script>